<html>
	<head>
		<title>Shubhang Desai</title>

		<link rel="stylesheet" type="text/css" href="/style.css">

		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700" rel="stylesheet">
	</head>
	<div id="overlay">
		<img id="x" src="images/x.png"/>
		<div class="overlay-content">
				<div id="project-image">
					<h1 id="project-title">Project Title</h1>
				</div>
				<p id="project-desc">
					<em>Machine Learning, PyTorch, Python</em><br><br>
					I'm a sophomore studying Computer Science at Stanford University. I am obsessed with Machine Learning
					and am involved in AI initiatives such as the Stanford AI Lab. I am interested in CS education and have
					spearheaded many education initiatives, such as organizing workshops during my membership in BASES and leading
					the creation of an AI elective series through CS + Social Good. I am fascinated with Philosophy and enjoy
					reading metaphysics papers when I have some time. I can often be found working on code projects or
					bingeing House of Cards, FRIENDS, or How I Met Your Mother in my free time.
					I'm a sophomore studying Computer Science at Stanford University. I am obsessed with Machine Learning
					and am involved in AI initiatives such as the Stanford AI Lab. I am interested in CS education and have
					spearheaded many education initiatives, such as organizing workshops during my membership in BASES and leading
					the creation of an AI elective series through CS + Social Good. I am fascinated with Philosophy and enjoy
					reading metaphysics papers when I have some time. I can often be found working on code projects or
					bingeing House of Cards, FRIENDS, or How I Met Your Mother in my free time.
					I'm a sophomore studying Computer Science at Stanford University. I am obsessed with Machine Learning
					and am involved in AI initiatives such as the Stanford AI Lab. I am interested in CS education and have
					spearheaded many education initiatives, such as organizing workshops during my membership in BASES and leading
					the creation of an AI elective series through CS + Social Good. I am fascinated with Philosophy and enjoy
					reading metaphysics papers when I have some time. I can often be found working on code projects or
					bingeing House of Cards, FRIENDS, or How I Met Your Mother in my free time.
				</p>
				<div class="row">
					<a href="http://google.com" id="github" target="_blank"><img src="images/github.png"/></a>
					<a href="http://google.com" id="web" target="_blank"><img src="images/web.png"/></a>
				</div>
		</div>
	</div>
	<body>

		<div class="main section">
			HI, I'M <br> <span class="name">SHUBHANG</span>
		</div>
		<div class="section about">
			<h1>ABOUT</h1>
			<p>
				I'm a sophomore studying Computer Science at Stanford University. I am obsessed with Machine Learning
				and am involved in AI initiatives such as the Stanford AI Lab. I am interested in CS education and have
				spearheaded many education initiatives, such as organizing workshops during my membership in BASES and leading
				the creation of an AI elective series through CS + Social Good. I am fascinated with Philosophy and enjoy
				reading metaphysics papers when I have some time. I can often be found working on code projects or
				bingeing House of Cards, FRIENDS, or How I Met Your Mother in my free time.
			</p>
			<a href="/files/shubhang-desai-resume.pdf" target="_blank" class="button" download>
				Download Resume
			</a>
		</div>

		<div class="black section">
			<h1>PROJECTS</h1>

			<div class="projects">
				<div class="proj" id="enc">
					<div></div>
					<span>RNN Encoder-Decoder for Machine Translation</span>
				</div>

				<div class="proj" id="test">
					<div></div>
					<span>RNN Encoder-Decoder for Machine Translation</span>
				</div>

				<div class="proj" id="3">
					<div></div>
					<span>RNN Encoder-Decoder for Machine Translation</span>
				</div>

				<div class="proj">
				</div>

				<div class="proj">
				</div>

				<div class="proj">
				</div>
			</div>
		</div>

		<div class="section">
			<h1>EXPERIENCE</h1>

			<div class="exp-item">
				<div class="exp-item left">
					<img src="images/nasdaq_logo.png" style="height: 100px"/>
				</div>
				<div class="exp-item right">
					<div class="point">
						<div class="circle"></div>
						<span>Machine Learning Intern</span>
					</div>
					<div class="entry">
						<span>Nasdaq, Summer 2017</span>
						<p>
							This summer, I am interning at Nasdaq as a part of the Machine Learning team. The team has undertaken two projects,
							both of which I'm involved in. The first is using customer data to predict attrition, for which I prepared the learning target
							set and assisted in developing a Random Forests algorithm for prediction. The second is using trade history data to
							predict Nasdaq network latency. I am spearheading this initiative and have designed the overall architecture of the
							neural network that we will be developing. We will soon begin development of the network itself, and I will be heavily
							involved in its development and training.
						</p>
					</div>
				</div>
			</div>

			<div class="exp-item">
				<div class="exp-item left">
					<img src="images/ideo_logo.jpeg" style="height: 220px"/>
				</div>
				<div class="exp-item right">
					<div class="point">
						<div class="circle"></div>
						<span>Research Fellow</span>
					</div>
					<div class="entry">
						<span>IDEO CoLab, January 2017</span>
						<p>
							I spent two weeks in January at the IDEO CoLab, the innovation arm of IDEO. I was on a small team which reasearched
							the applications of Blockchain in society. We were specifically interested in using the trust established
							from the Blockchain to create decentralized resource-sharing initiatives. I was the "tech person" on the team,
							providing insight on technical feasibility and spearheading prototype development. We went through three design sprints,
							rapidly iterating by creating prototypes and gathering feedback. Our final three high-fidelity deliverables were
							handed off to IDEO.
						</p>
					</div>
				</div>
			</div>

			<div class="exp-item">
				<div class="exp-item left">
					<img src="images/state_farm_logo.jpg" style="height: 100px"/>
				</div>
				<div class="exp-item right">
					<div class="point">
						<div class="circle"></div>
						<span>Software Engineering Intern</span>
					</div>
					<div class="entry">
						<span>State Farm, Summer 2016</span>
						<p>
							During the summer of 2016, I was on the Research &amp; Development Team at State Farm Insurance. I was
							tasked with implementing a fully-trained neural network on an iPhone. I used an open-source execution engine
							called DeepLearningKit to accomplish this. The final app was able to classify images belonging to the CIFAR-10
							dataset and run the neural network on the iPhone's Metal GPU, in effect meaning that the user could download an entire
							neural network to their phone.<br>
							I was also the Dev Team Lead for the Summer Intern Website project. I was in charge of a team of 30 developers who all
							had differing proficiency levels with frontend development. Using Agile methodoligies such as sprints, stories, and a Kanban board,
							I was able to lead this diverse team to quickly and effeciently develop a beautiful internal website in just 8 weeks.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="black section">
			<h1>WRITINGS</h1>
			<a class="pub-link" href="https://medium.com/@shubhang.desai/a-soft-introduction-to-neural-networks-6986b5e3a127" target="_blank">
				<div class="pub">
					<div class="image-container">
						<div style="background-image: url('images/nn.jpg')"></div>
					</div>
					<div class="content">
							<h2>A Soft Introduction to Neural Networks</h2>
							<span>Medium</span>
						<p>
							An article that introduces the reader to neural networks by guiding them through building a simple NN
						</p>
					</div>
				</div>
			</a>

			<a class="pub-link" href="files/end-end-learning.pdf" target="_blank">
				<div class="pub">
					<div class="image-container">
						<div style="background-image: url('images/paper.png')"></div>
					</div>
					<div class="content">
							<h2>End-to-End Learning of One Objective Function to Represent Multiple Styles for Neural Style Transfer</h2>
							<span>Stanford CS231n Website</span>
						<p>
							Final paper for "Convolutional Neural Networks" class project, a cutting-edge research project on neural style transfer
						</p>
					</div>
				</div>
			</a>
		</div>

		<div class="section">
			<h1>BLOG</h1>

			{{  content  }}

			<div class="blog-button">
				<a href="/blog" class="button">
					See All
				</a>
			</div>
		</div>

		<div class="black footer">
			<div class="links">
				<a href="https://github.com/ShubhangDesai/" target="_blank"><img src="images/github-footer.png"/></a>
				<a href="https://www.linkedin.com/in/shubhangd/" target="_blank"><img src="images/linkedin-footer.png"/></a>
			</div>
      <span>&copy; Shubhang Desai</span>
    </div>

		<script>
			content =
			{
				enc:
				{
					img: "nn.jpg",
					title: "RNN Encoder-Decoder for Machine Translation",
					tags: "Machine Learning, PyTorch, Python",
					desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat, risus et sollicitudin ultricies, ex sapien pulvinar augue, sed egestas nunc est non sem. Integer laoreet eleifend sodales. Nunc lacus purus, aliquam quis sagittis eget, venenatis eu libero. Quisque et semper nisl. Phasellus pharetra volutpat cursus. Nam eu orci et massa vulputate sodales. Aenean mattis tortor ac ligula egestas pharetra. Maecenas ut velit eu quam lobortis tempus quis non orci. In id nulla magna. Fusce quis mi eget lorem imperdiet venenatis. Pellentesque vitae urna vel turpis gravida pharetra non vehicula ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Mauris urna felis, egestas id tempor non, mollis eu dui. Proin egestas eleifend mauris sed gravida.",
					github: "https://github.com/ShubhangDesai/tf-rnn-encoder-decoder"
				},
				test: {}
			}

			projs = document.getElementsByClassName("proj");
			for (i = 0; i < projs.length; i++) {
				projs[i].addEventListener("click", function() {
					entry = content[this.id];
					document.getElementById("overlay").style.display = "inline";
					document.body.style.overflow = "hidden";

					url = "url(\"images/" + entry.img + "\")"
					document.getElementById("project-image").style.backgroundImage = url;
					document.getElementById("project-title").innerHTML = entry.title;
					tags = "<em>" + entry.tags + "</em><br><br>";
					document.getElementById("project-desc").innerHTML = tags + entry.desc;
					document.getElementById("github").href = entry.github;
					if (entry.web) {
						document.getElementById("web").style.display = "inline";
						document.getElementById("web").href = entry.web;
					} else {
						document.getElementById("web").style.display = "none";
					}
				});
			}

			document.getElementById("x").addEventListener("click", function() {
				console.log("test")
				document.getElementById("overlay").style.display = "none";
				document.body.style.overflow = "auto";
			});
		</script>
	</body>
</html>
