<html>
	<head>
		<title>SHIVAM BIHARI</title>

		<link rel="stylesheet" type="text/css" href="/style.css">

		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700" rel="stylesheet">
	</head>
	<div id="overlay">
		<img id="x" src="images/x.png"/>
		<div class="overlay-content">
				<div id="project-image">
					<h1 id="project-title"></h1>
				</div>
				<p id="project-desc">
				</p>
				<div class="row">
					<a href="http://google.com" id="play" target="_blank"><img src="images/play.png"/></a>
					<a href="http://google.com" id="github" target="_blank"><img src="images/github.png"/></a>
					<a href="http://google.com" id="web" target="_blank"><img src="images/web.png"/></a>
				</div>
		</div>
	</div>
	<body>

		<div class="main section">
			<div class="main-pic"></div>
			<div class="slant"></div>
			<div class="main-text">
				HI, I'M <br> <span class="name">SHIVAM</span>
			</div>
		</div>
		<div class="section about">
			<h1>ABOUT</h1>
			<p>
				
				I'm a learner from UPG(Usha Pravin Gandhi)studying 
				 BA in film making. If you'all want to know more 
				    about this course, you can download it.
				Well I can often be found working on AUDIO projects or
				  Editing shots and pictures in my free time.
			</p>
			
		</div>

		<div class="black section">
			<h1>PROJECTS</h1>
			<div class="projects">

			<div class="proj" id="ans">
				<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/paper.png');"></div>
				<span>Arbitrary Neural Style</span>
			</div>

			<div class="proj" id="comm">
				<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/comm.png');"></div>
				<span>The Commuter Chicago</span>
			</div>

			<div class="proj" id="enc">
				<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/enc.png');"></div>
				<span>RNN Encoder-Decoder for Machine Translation</span>
			</div>

			<div class="proj" id="dv8">
				<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/dv8.jpg');"></div>
				<span>dv8</span>
			</div>

			<div class="proj" id="iron">
				<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/iron.png');"></div>
				<span>Iron Drive</span>
			</div>

			<div class="proj" id="nibbly">
				<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/nibbly.png');"></div>
				<span>Nibbly</span>
			</div>


				<div class="proj" id="site">
					<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/site.png');"></div>
					<span>shubhangdesai.github.io</span>
				</div>

				<div class="proj" id="sta">
					<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/sta.png');"></div>
					<span>Style Transfer App</span>
				</div>

				<div class="proj" id="concepts">
					<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/concepts.png');"></div>
					<span>Concepts iOS</span>
				</div>

				<!-- <div class="proj" id="bnm">
					<div></div>
					<span>BN Mentors</span>
				</div> -->

			</div>
		</div>
</div>
			</div>
		</div>

		<div class="black section">
			<h1>WRITINGS</h1>
			<a class="pub-link" href="https://medium.com/artists-and-machine-intelligence/neural-artistic-style-transfer-a-comprehensive-look-f54d8649c199" target="_blank">
				<div class="pub">
					<div class="image-container">
						<div style="background-image: url('images/stanford_starry.png')"></div>
					</div>
					<div class="content">
							<h2>Neural Artistic Style Transfer: A Comprehensive Look</h2>
							<span>Artists and Machine Intelligence</span>
						<p>
							An article describing the current state of Neural Style Transfer, as well as my contributions to the space
						</p>
					</div>
				</div>
			</a>

			<a class="pub-link" href="https://medium.com/towards-data-science/a-soft-introduction-to-neural-networks-6986b5e3a127" target="_blank">
				<div class="pub">
					<div class="image-container">
						<div style="background-image: url('images/nn.jpg')"></div>
					</div>
					<div class="content">
							<h2>A Soft Introduction to Neural Networks</h2>
							<span>Towards Data Science</span>
						<p>
							An article that introduces the reader to neural networks by guiding them through building a simple NN
						</p>
					</div>
				</div>
			</a>

			<a class="pub-link" href="http://cs231n.stanford.edu/reports/2017/pdfs/407.pdf" target="_blank">
				<div class="pub">
					<div class="image-container">
						<div style="background-image: url('images/paper.png')"></div>
					</div>
					<div class="content">
							<h2>End-to-End Learning of One Objective Function to Represent Multiple Styles for Neural Style Transfer</h2>
							<span>Stanford CS231n</span>
						<p>
							Final paper for "Convolutional Neural Networks" class project, a cutting-edge research project on neural style transfer
						</p>
					</div>
				</div>
			</a>
		</div>

		<div class="section">
			<h1>REGISTRATION FORM</h1>

			{{  content  }}

			<div class="blog-button">
				<a href="/blog" class="button">
					See All
				</a>
			</div>
		</div>

		<div class="black footer">
			<div class="links">
				<a href="https://www.instagram.com/the_uncinematized/" target="_blank"><img src="images/medium-footer.png"/></a>
				<a href="mailto:biharishivam@gmail.com" target="_blank"><img src="images/email-footer.png"/></a>
			</div>
      <span>&copy; Shivam Bihari</span>
    </div>

		<script>
			content =
			{
				ans:
				{
					img: "paper.png",
					title: "Aribitrary Neural Style",
					
				},
				comm:
				{
					img: "comm.png",
					title: "The Commuter Chicago",
					
				},
				enc:
				{
					img: "enc.png",
					title: "RNN Encoder-Decoder for Machine Translation",
					
				dv8:
				{
					img: "dv8.jpg",
					title: "dv8",
					
				
				
				},
				
				
				
			
			}

			projs = document.getElementsByClassName("proj");
			for (i = 0; i < projs.length; i++) {
				projs[i].addEventListener("click", function() {
					entry = content[this.id];

					url = "url(\"images/" + entry.img + "\")"
					filter = "linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5)), ";
					document.getElementById("project-image").style.backgroundImage = filter + url;

					document.getElementById("project-title").innerHTML = entry.title;

					tags = "<em>" + entry.tags + "</em><br><br>";
					document.getElementById("project-desc").innerHTML = tags + entry.desc;

					document.getElementById("github").href = entry.github;

					if (entry.web) {
						document.getElementById("web").style.display = "inline";
						document.getElementById("web").href = entry.web;
					} else {
						document.getElementById("web").style.display = "none";
					}

					if (entry.play) {
						document.getElementById("play").style.display = "inline";
						document.getElementById("play").href = entry.play;
					} else {
						document.getElementById("play").style.display = "none";
					}

					document.getElementById("overlay").style.display = "inline";
					document.body.style.overflow = "hidden";
				});
			}

			document.getElementById("x").addEventListener("click", function() {
				console.log("test")
				document.getElementById("overlay").style.display = "none";
				document.body.style.overflow = "auto";
			});
		</script>
	</body>
</html>
